pandas
numpy
sklearn
tensorboard
tensorflow
configparser
jupyterlab 
ipykernel 
matplotlib
argparse
streamlit
seaborn
opencv-python # the -headless version of opencv did not work with prediction
boto3
s3fs<=0.4   # required by streamlit
clang~=5.0           # required by intel-tensorflow      
absl-py~=0.10        # required by intel-tensorflow
flatbuffers~=1.12.0  # required by intel-tensorflow
gast==0.4.0          # required by intel-tensorflow
h5py~=3.1.0          # required by intel-tensorflow
six~=1.15.0          # required by intel-tensorflow
wrapt~=1.12.1         # required by intel-tensorflow
